<GridLayout rows="* auto">
    <!-- BottomNavigation wrapped inside a separate layout as recommended here:
         https://docs.nativescript.org/core-concepts/nested-navigation#simple-rule -->
    <GridLayout>
        <BottomNavigation #bottomNavigation>
            <TabContentItem>
                <page-router-outlet name="homeTab"></page-router-outlet>
            </TabContentItem>

            <TabContentItem>
                <page-router-outlet name="browseTab"></page-router-outlet>
            </TabContentItem>

            <TabContentItem>
                <page-router-outlet name="searchTab"></page-router-outlet>
            </TabContentItem>
        </BottomNavigation>
    </GridLayout>

    <!-- Custom TabStrip -->
    <GridLayout row="1" columns="*, *, *">
        <tb-tabstrip-item col="0" id="home" icon="font://&#xf015;" text="Home" (itemTap)="onButtonTap($event)">
        </tb-tabstrip-item>
        <tb-tabstrip-item col="1" id="browse" icon="font://&#xf1ea;" text="Browse" (itemTap)="onButtonTap($event)">
        </tb-tabstrip-item>
        <tb-tabstrip-item col="2" id="search" icon="font://&#xf002;" text="Search" (itemTap)="onButtonTap($event)">
        </tb-tabstrip-item>
    </GridLayout>

</GridLayout>